{% extends 'layouts/main.html' %} {% block title %}Home{% endblock %} {% block content %}


<div id="main" class="container">
  <div class="jumbotron">
    <h2>Nginx ที่มีการ monitor</h2>
  </div>
    <table class="table table-hover">
        <tr>
            <th>#
                <th>Server
                    <th>URL
                        <th>Start/Stop
                            <th>InfluxDb server
                                <th>Deploy Grafana Dashboard
                                    <th>Operations {%- for item in items %}
                                        <tr class={{ "success" if item.done }}>
                                            <td><a type="button" class="abutton" href="/e/{{ item.id }}">{{item.id}}</a>
                                                <td class={{ "bg-success" if item.enable else "danger" }}> {{ item.name }}
                                                    <td> {{ item.url }}
                                                        <td>
                                                            <input id="ops-switch" data-toggle="toggle" name="{{ item.id }}" type="checkbox" {% if item.enable==True %} checked {% endif %} data-toggle="toggle" value="{{ item.enable}}" data-onstyle="success">
                                                            <td> {{ item.influxdb_server }}
                                                                <td>
                                                                    <input class="btn btn-primary" type="button" value="Deploy to grafana">

                                                                    <td>
                                                                        <a class="dbutton" href="/d/{{ item.id }}">Destroy</a>
                                                                    </td>
                                                                    <td>
                                                                        <a class="ebutton" href="/e/{{ item.id }}">Edit</a>
                                                                    </td>


                                                                </td>
                                                                {%- endfor %}
    </table>
</div>
{% endblock %}
