<!doctype html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- /meta -->

    <!-- styles
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome-4.1.0.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-3.1.1.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme-3.1.1.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.responsive.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.quickfix.css" />
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-toggle.min.css">
-->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
    <!-- /styles -->

    <!-- favicons -->
    <link rel="shortcut icon" href="/static/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/ico/favicon.png">
    <!-- /favicons -->


    <!-- scripts -->
    <!-- <script src="/static/js/libs/jquery-1.11.1.min.js"></script> -->
    <!-- <script src="/static/js/libs/modernizr-2.8.2.min.js"></script> -->
    <!-- <script src="/static/js/libs/bootstrap-toggle.min.js"></script> -->
    <!--[if lt IE 9]><script src="/static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
    <!-- /scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>

    .jumbotron {
        position: relative;
        background: #000000 center center;
        width: 100%;
        height: 100%;
        background-size: cover;
        overflow: hidden;
    }
    .jumbotron h2{
    color: #FFFFFF;
    }

        .dbutton {
            display: block;
            width: 80px;
            height: 25px;
            background: #EF1313;
            padding: 2px;
            text-align: center;
            border-radius: 5px;
            color: white;
            font-weight: bold;
        }

        .ebutton {
            display: block;
            width: 80px;
            height: 25px;
            background: #FF8000;
            padding: 0px;
            text-align: center;
            border-radius: 5px;
            color: black;
            font-weight: bold;
        }
    </style>
     <link type="text/css" rel="stylesheet" href="/static/css/my_twb_css_custom.css" />
</head>
<script>
    $(document).ready(function() {
        $('input[type="checkbox"]').change(function() {
            var returnVal = $(this).prop('checked');
            $(this).attr("checked", returnVal);
            var ops = $(this).prop('name') + '_' + returnVal;
            var root = 'https://jsonplaceholder.typicode.com';
            $.ajax({
                url: '/ops/',
                type: 'POST',
                data: {
                    'ops-switch': ops
                },
                success: function(result) {
                    console.log('OK');
                }
            });
        });
    });
</script>

<body>

    <!-- Wrap all page content here -->
    <div id="wrap">

        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <a class="navbar-brand" href="/">Project name</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li {% if request.endpoint=='home' %} class="active" {% endif %}><a href="{{ url_for('home') }}">Home</a></li>
                        <li {% if request.endpoint=='new' %} class="active" {% endif %}><a href="{{ url_for('new') }}">Add Monitor agent</a></li>
                        <li {% if request.endpoint=='sg' %} class="active" {% endif %}><a href="{{ url_for('setup_grafana') }}">Add Grafana server</a></li>
                        <li {% if request.endpoint=='about' %} class="active" {% endif %}><a href="{{ url_for('help') }}">Help</a></li>

                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>

        <!-- Begin page content -->
        <main id="content" role="main" class="container">
            {# {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="alert alert-block alert-error fade in">
                <a class="close" data-dismiss="alert">&times;</a> {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %} #} {% block content %}{% endblock %}

        </main>

    </div>

    <div id="footer">
        <div class="container">
            <p>Unixdev Co,Ltd. &copy; All Rights Reserved.</p>
            {% block footer %}{% endblock %}
        </div>
    </div>

    <script type="text/javascript" src="/static/js/libs/bootstrap-3.1.1.min.js" defer></script>
    <script type="text/javascript" src="/static/js/plugins.js" defer></script>
    <script type="text/javascript" src="/static/js/script.js" defer></script>

</body>

</html>
