.navbar-default {
  background-color: #000000;
  border-color: #241f1e;
}
.navbar-default .navbar-brand {
  color: #eeeef2;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #bbc9ff;
}
.navbar-default .navbar-text {
  color: #eeeef2;
}
.navbar-default .navbar-nav > li > a {
  color: #eeeef2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #bbc9ff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #eeeef2;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #bbc9ff;
  background-color: #241f1e;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #241f1e;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #bbc9ff;
  background-color: #241f1e;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #bbc9ff;
  background-color: #241f1e;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #bbc9ff;
  background-color: #241f1e;
}
.navbar-default .navbar-toggle {
  border-color: #241f1e;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #241f1e;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #eeeef2;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #eeeef2;
}
.navbar-default .navbar-link {
  color: #eeeef2;
}
.navbar-default .navbar-link:hover {
  color: #bbc9ff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #eeeef2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #bbc9ff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #bbc9ff;
    background-color: #241f1e;
  }
}
