{% extends 'layouts/main.html' %}
{% block title %}Monitoring{% endblock %}
{% block content %}
  <form action="" method=post class="form">
    <h2>Create New Nginx monitor url </h2>
  <div class="container">
   <div class="row">
    <div class=".col-xs-6 .col-md-4">Name of service   </div>
    <div class=".col-xs-6 .col-md-4"> Input </div>
   </div>
   <div class="row">
    <div class="col-sm-4">URl Nginx monitor </div>
    <div class="col-sm-4"> Input2 </div>
   </div>
   <div class="row">
   </div>
  </div>
  {# end container dev #}
  <div class="row">
    <div class="col-sm-4"> Name of service </div>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="name" name="name" class="input-xlarge"
            placeholder="name of service" value="{{ request.form.name }}"
            required>
        </div>
    </div>
   </div>
   <div class="row>
    <div class="col-sm-4"> Enter Nginx status monitor URL</div>
      <div class="col-sm-4">
    <div class="control-group">
		{% for error in form.monitor_url.errors %}
		  <span style="color: red;"> [{{ error }}]</span>
		{% endfor %}
        <div class="controls">
		<div class="checkbox">
			<input type="text" id="monitor_url" name="monitor_url" size="50" 
			name="monitor_url" rows=10 class="input-xlarge" 
							  placeholder="Nginx status url"  value="{{ request.form.monitor_url }}">
      </div>
   </div>
		</div>
		    <input type="text" id="monitor_url" size="50" 
			name="influxdb_server" rows=10 class="input-xlarge"
							  placeholder="InfluxDB server URL"  value="{{ request.form.influxdb_server }}">
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Create Monitor node</button>
          <a href="{{ url_for('home') }}">Back to list</a>
        </div>
    </div>
   </div>
  </form>
{% endblock %}
