{% extends 'layouts/main.html' %}
{% block title %}Setup GrafanaSetup{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
        <div class="row">
            <div class="one-half column" style="margin-top: 0%">
                {# jinja comment#}
                <div class="jumbotron">
                    <h2>Setup Grafana </h2>
                </div>
  		{% if messages %}
			<div class="alert alert-danger">
  				<strong>Error !</strong> Unknown.
			</div>
  		{% endif %}
      <div class="form-group">
                <hr>
                <form action="" method="post" class="form">
                    <div class="row">
                      <div class="form-group">
                          <label for="grafana_service_name">Remote granfan url</label>
                          <input class="form-control" value="{{form.grafana_servervice_name}}" name="grafana_service_name" type="text" placeholder="demo-site" id="grafana_service_name">
                      </div>
                        <div class="form-group">
                            <label for="grafana_server_url">Remote granfan url</label>
                            <input class="form-control" value="{{form.grafana_url}}" name="grafana_url" type="text" placeholder="http://localhost:3000" id="grafana_url" >
                        </div>
                        <div class="form-group">
                            <label for="nginx_url_status">Remote Grafana username</label>
                            <input class="form-control" value="{{form.grafana_username}}" name="grafana_user" type="text" placeholder="Grafana username" id="grafana_user">
                        </div>
                        <div class="form-group">
                            <label for="influxdb_server_url">Remote grafana password</label>
                            <input class="form-control" value="{{form.grafana_password}}" name="grafana_password" type="text" placeholder="Grafana user password" id="grafana_password">
                        </div>
                        <div class="form-group">
                            <label for="influxdb_server_url">Token</label>
                            <input class="form-control" value="{{form.grafana_token}}" name="influxdb_server" type="text" placeholder="xfddsak;dukf;ladkjf;sl" id="influxdb_server">
                        </div>
                        <div class="form-group">
                        <button class="btn btn-success" type="submit">Add grafana node</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>

<hr>
{% if items|length > 0 %}
<table class="table table-hover">
<tr>
  <th>#
    <th>Grafana deploy name
      <th> Grafana URL
        <th> Grafna username
          <th> Grafana password
            <th> Grafana Token
              {%- for item in items %}
              <tr>
                <td> {{ item.id }}
                  <td> {{ item.name }}
                    <td> {{ item.url }}
                      <td> {{ item.username }}
                        <td> {{ item.password }}
                          <td> {{ item.token }}
                        </td>
</tr>
{%- endfor %}
</table>

{% endif %}


{% endwith %}
{% endblock %}
