{% extends 'layouts/main.html' %} {% block title %}Monitoring{% endblock %} {% block content %} {% with messages = get_flashed_messages() %}
<div class="row">
    <div class="one-half column" style="margin-top: 0%">
        {# jinja comment#}
        <div class="jumbotron">
            <h2>Edit new monitoring node</h2>
        </div>
        {% if messages %}
        <div class="alert alert-danger">
            <strong>Error !</strong> Nginx monitor URL มันซ้ำกันไม่ได้น่ะครับ.
        </div>
        {% endif %}
        <hr>
        <form action="" method="post" class="form">

            <div class="form-group">
                <label for="service_name">Service Name</label>
                <input class="form-control" value="{{form.name}}" name="name" type="text" placeholder="name of service" id="name">
            </div>
            <div class="form-group">
                <label for="nginx_url_status">Nginx status URL</label>
                <input class="form-control" value="{{form.url}}" name="monitor_url" type="text" placeholder="http://localhost/status" id="monitor_url">
            </div>
            <div class="form-group">
                <label for="influxdb_server_url">InfluxDB Server URL</label>
                <input class="form-control" value="{{form.influxdb_server}}" name="influxdb_server" type="text" placeholder="http://localhost:8086" id="influxdb_server">
            </div>


            <button class="btn btn-success" type="submit">Update Monitor node</button>
        </form>
    </div>
</div>
{% endwith %} {% endblock %}
